<form action="" method="post">
    {{ form.input('name', 'Titre')|raw }}
    {{ form.input('slug', 'Url')|raw }}
    {{ form.textArea('content', 'Contenu', false, true)|raw }}
    {{ form.input('created_at', 'Date de création')|raw }}
    {{ form.select('categories_ids', 'Catégories', categories)|raw }}

    <button class="btn btn-primary">
        {% if post.getId() is not null %}
            Éditer
        {% else %}
            Ajouter
        {% endif %}
    </button>
    <a href="{{ path('admin_posts') }}" class="btn btn-info">Retour</a>
</form>