<div class="col-md-3 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.getName() }}</h5>
            <p class="text-muted">
                {{ post.getCreatedAt()|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
            </p>
            <p>
                {{ post.getCategories()|map(category => "#{category.getName()}")|join(', ') }}
            </p>
            <p>{{ post.getExcerpt()|raw }}</p>
            <a href="{{ path('post', {'slug': post.getSlug(), 'id': post.id}) }}" class="btn btn-primary">Voir plus</a>
        </div>
    </div>
</div>